/*space between*/
.registration{
	margin-bottom: 200px;
}
.registration__container{
	margin-top: 15%;
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: right;
	align-items: center;
	padding-right: 15%;
	height: 75%;
	
}

/*for small screen registration__container justify conen center*/
@media screen and (max-width: 1000px  ) {
	.registration__container{
		justify-content: center;
		padding-right: 0;
	}
}