/*space between*/

.registration{
	width:100%;	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/*for small screen padding bottom*/
@media screen and (max-width: 1500px  ) {
	.registration{
		
	}

}

.registration__container{
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: center;
	align-items: center;
	width: 80%;	
	
}

/*for small screen registration__container justify conen center*/
@media screen and (max-width: 1000px  ) {
	.registration__container{
		justify-content: center;
		padding-right: 0;
	}
}