.trainingPlan{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.trainingPlan__container{
    display: flex; 
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 55%;
    background-color: #00643E;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.trainingPlan__arrow--right{
    position: absolute;
    width: 120px;
    top: 40%;
    right: -100px;
    transform: translateY(-50%);
    cursor: pointer;
}

.trainingPlan__arrow--left{
    position: absolute;
    width: 120px;
    top: 40%;
    left: -100px;
    transform: translateY(-50%);
    cursor: pointer;
    
}

.trainingPlan__content{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.trainingPlan__content--null{
    color: white;
    font-size: 30px;
}
.trainingPlan__nav{  
    position: absolute;
    border-radius: 14px;
    height:80px ;
    width: 90%;
    background-color: #005836;
    top: -40px;
    left: 5%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.navOption{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 80%;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}

.navOption:hover{
    background-color: #F49E3B;
}

.navOption__active{
    background-color: #F49E3B;
}

.navOption__img{
    width:30px;
}

.navOption__text{
 width: 80%;
 color: white;
 font-size: 16px;
}
.navOption__hoverText{
    color: white;
    font-size: 10px;
}
.courseCard{
    width: 270px;
    height: 100%;
    border-radius: 10px;
    background-color: white;     
    margin:10px;
}
.courseCard__upperCard{
    background-color: #E8EEF1;
    height: 60%;
    border-radius: 10px;
    text-align: center;
}

.courseCard__upperCard--title{
    margin: auto; 
    padding-top: 40px;
    font-size: 12px;
    font-weight: 700;
}

.courseCard__upperCard--text{
    margin: auto; 
    padding : 20px;
    font-size: 12px;
    overflow: auto;
}

.courseCard__lowerCard{
    padding:20px;
    margin-top: 15px;
}
.courseCard__lowerCard--element{
    display: flex;
    flex-flow: row nowrap;
}
.courseCard__lowerCard--text{
    text-align: left;
    width: 70%;
    font-size: 10px
}
.courseCard__lowerCard--icon-container{
    width: 30%;
    text-align: right;
}
.courseCard__lowerCard--icon{
    width: 20px;
    margin: auto;
}
.courseCard__button{
    width: 30%;
    height: 30px;
    background-color: #F49E3B;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.courseCard__button:hover{
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 0.8;
}

.trainingPlan__buttons{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trainingPlan__Link{
    margin-right:15%;
}

/*for small  screen disply none for img*/
@media screen and (max-width: 768px  ) {
    .navOption__text{
        display: none;
    }
    /*
    make arrows smaller*/
    .trainingPlan__arrow--right{
        width: 80px;
        right: -60px;
    }
    .trainingPlan__arrow--left{
        width: 80px;
        left: -60px;
    }

}

.tooltip{
  position: relative;
  cursor: pointer;
  display: block;
  background: rgb(244, 158, 59, 0.9);
  margin-left: 80%;
  transform: translateX(-50%);
  padding: 5px;
  z-index: 1;
  width: 280px;
  height: auto;
  border-radius: 14px;
  padding: 10px;
  font-size: 12px;
  
}
.courseCard__tooltip{
 cursor: pointer;   
}

.courseCard__notLink{
    font-size: 14px;
    color: #F49E3B;
    font-weight: 700;
}