.registerCompleted{
	margin: auto;
	width: 80%;
	height: 100%;
	padding-bottom: 5%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*for small screen padding bottom*/
@media screen and (max-width: 768px  ) {
	.registerCompleted{
		padding-bottom: 20%;
	}
}

.registerCompleted__container{
	
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: center;
	align-items: center;

	margin-bottom: 40px;
}

.registerCompleted__text{
	font-family: 'Tajawal', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #00643E;
	text-align: center;
}