.guideModalOption{
  width:100%;
  text-align: center;
}

.guideModalOption__container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.guideModalOption__container--main{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgb(255, 255, 255,0.95);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 600px;
  border-radius: 28px;    
}
/*for small  screen make width 90%*/
@media screen and (max-width: 600px) {
.guideModalOption__container--main {
  width: 90%;
}
}

.guideModalOption__container--closeContainer{
  text-align: right;
  width: 100%;
  position: absolute;
  top:15px;
  right: 15px;
  cursor: pointer;
}

.guideModalOption__container--close{
  width: 30px;
}

.guideModalOption__container--close:hover{
  transform: scale(1.2);
  transition: 0.3s;
}

.guideModalOption__container--option{
  width: 60%;
  height: 80px;
  border-radius: 10px;
  background-color: #00643E;
  color: white;
  font-family: 'Tajawal', sans-serif;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
 }
 /*for small screen make it 80%*/
  @media screen and (max-width: 1200px) {
    .guideModalOption__container--option {
      width: 80%;
      font-size: 14px;
    }
  }


.guideModalOption__container--option:hover{
  cursor: pointer;
  border: 5px solid #F49E3B;
}

.guideModalOption__container--option--img{
  width: 50px;
  margin-top: 10px;
  text-align: left;
}
.guideModalOption__container--option--textContainer{
  width: 75%;
  font-size: 20px;
}

.guideModalOption__container--option--imgContainer{
  width: 25%;
  text-align: left;
  margin-left: 10%;
}
/*for small  screen */
@media screen and (max-width: 1200px) {
  .guideModalOption__container--option--textContainer {
    font-size: 14px;
  }
  .guideModalOption__container--option--img{
    width: 30px;
  }
}