.home__container {
	display: flex;
}
.home__left {
	width: 50%;
	justify-content: center;
	padding-top: 200px;
}
.home__left--text {
	width: 100%;
	font-family: 'Tajawal', sans-serif;
}
.home__right {
	width: 50%;
}
.home__right--image{
	width:100%;
}
.home__left--text{
	width: 100%;
	text-align: center;
}