.GuideModal__img{
    width: 25%  ;
}

/* 
.GuideModal__img:hover{
    cursor: pointer;
} */

/*for small screen make width*/
@media screen and (max-width: 768px) {
  .GuideModal__img {
    width: 50%;
  }
}
.guideModal__container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.guideModal__container--main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 255, 255,0.95);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 600px;
    border-radius: 28px;    
}
/*for small  screen make width 90%*/
@media screen and (max-width: 600px) {
  .guideModal__container--main {
    width: 90%;
  }
}

.guideModal__container--closeContainer{
    text-align: right;
    width: 100%;
    position: absolute;
    top:15px;
    right: 15px;
    cursor: pointer;
}

.guideModal__container--close{
    width: 30px;
}
/*on hover scalae*/
.guideModal__container--close:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
