.footer{
	display: flex;	
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
	z-index: 20;
}
.footer__left--click{
	cursor: pointer;
	position: fixed;
	bottom: 5%;
	left:5.5%;
	width: 5%;
}
.footer__left{
	width: 50%;
	padding-left: 10px;
	text-align: left;
}
.footer__right{
	width: 50%;
	padding-right: 10px;
	text-align: right;
}
.footer__left--img{
	width: 10%;
}
.footer__right--img{
	width: 30%;
}

/*for small screen  resize images*/
@media screen and (max-width: 768px) {
	.footer__left--img{
		width: 80%;
	}
	.footer__right--img{
		width: 60%;
	}
}