.nbeButton{
		background-color: #F49E3B;
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
		padding: 12px 50px;
		border-radius: 14px;
	  font-family: 'Tajawal', sans-serif;
		font-size: 16px;
		font-weight: 700;
		z-index: 2;
		
}
.nbeButton:hover{
		scale: 1.05;
		transition: 0.3s;
		opacity: 0.8;
		cursor: pointer;
}